body {
    background-color: #FDE9D7;
    margin: 0;
}

header {
    background-color: #325b54;
    display: flex;
    flex-direction: column;
}
header h1 {
    color: #FDE9D7;
    font-family: 'Syne', sans-serif;
    font-size: 10vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-shadow: 20px 5px #D7263D;
}

.class {
    margin: 40px;
}

.text {
    color: black;
}

footer {
    margin: 0;
}

footer img {
    width: 100%;
    
}