body {
    background-color: #1E2F23;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    color: #F75250;
    font-size: 10vw;
    justify-content: center;
    margin-inline: auto;
}

hr {
    background-color: #99621E;
}